In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv("Dataset 2.csv")

In [3]:
df.shape

(1470, 35)

In [4]:
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [5]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [6]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [7]:
#df.select_dtypes(['object'])

In [8]:
feature_names = list(df.select_dtypes(['object']).columns.values)

In [9]:
type(feature_names)

list

In [10]:
for i in feature_names :
    print(i)

Attrition
BusinessTravel
Department
EducationField
Gender
JobRole
MaritalStatus
Over18
OverTime

In [11]:
le = preprocessing.LabelEncoder()

In [12]:
def encode_col(col_name):
    encodes = le.fit(df[col_name])
    new_col_name = "e."+col_name
    df[new_col_name] = df[col_name].map(lambda x: encodes.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [13]:
for i in feature_names :
    encode_col(i)

In [14]:
#df['gender_full'].shape

In [15]:
#df['e.gender_full'].shape

In [16]:
#encoded_feature_names = list(df.select_dtypes(exclude=[object]).columns.values)

In [17]:
#df.select_dtypes(exclude=[object])

In [18]:
#df.dtypes

In [19]:
y = df["e.Attrition"]

In [20]:
type(y)

pandas.core.series.Series

In [21]:
X = df.select_dtypes(exclude=[object]).drop(["e.Attrition"], axis=1)

In [22]:
type(X)

pandas.core.frame.DataFrame

In [23]:
#x = X.iloc[0]

In [24]:
#type(x)

In [25]:
len(X.columns)

34

In [26]:
X.dtypes

Age                         int64
DailyRate                   int64
DistanceFromHome            int64
Education                   int64
EmployeeCount               int64
EmployeeNumber              int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
MonthlyIncome               int64
MonthlyRate                 int64
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StandardHours               int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
e.BusinessTravel            int64
e.Department                int64
e.EducationField            int64
e.Gender                    int64
e.JobRole                   int64
e.MaritalStatus             int64
e.Over18                    int64
e.OverTime                  int64
dtype: object

In [27]:
sel = VarianceThreshold(threshold=(0.8 * (1 - 0.8)))
X = sel.fit_transform(X)

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 4)

In [29]:
X_train.shape

(1176, 30)

In [30]:
X_test.shape

(294, 30)

In [31]:
y_train.shape

(1176,)

In [32]:
y_test.shape

(294,)

In [33]:
reg = linear_model.LogisticRegression()

In [34]:
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
y_pred = reg.predict(X_test)

In [36]:
print(metrics.accuracy_score(y_test,y_pred))

0.901360544218

In [37]:
matrix = confusion_matrix(y_test,y_pred)
print(matrix)

[[247   4]
 [ 25  18]]