In [55]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv("Dataset 1.csv")

In [9]:
df.shape

(49653, 18)

In [4]:
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [EmployeeID, recorddate_key, birthdate_key, orighiredate_key, terminationdate_key, age, length_of_service, city_name, department_name, job_title, store_name, gender_short, gender_full, termreason_desc, termtype_desc, STATUS_YEAR, STATUS, BUSINESS_UNIT]
Index: []

In [5]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [7]:
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

In [54]:
#df.select_dtypes(['object'])

In [11]:
feature_names = list(df.select_dtypes(['object']).columns.values)

In [12]:
type(feature_names)

list

In [14]:
for i in feature_names :
    print(i)

recorddate_key
birthdate_key
orighiredate_key
terminationdate_key
city_name
department_name
job_title
gender_short
gender_full
termreason_desc
termtype_desc
STATUS
BUSINESS_UNIT

In [15]:
le = preprocessing.LabelEncoder()

In [16]:
def encode_col(col_name):
    encodes = le.fit(df[col_name])
    new_col_name = "e."+col_name
    df[new_col_name] = df[col_name].map(lambda x: encodes.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [17]:
for i in feature_names :
    encode_col(i)

In [18]:
df['gender_full'].shape

(49653,)

In [19]:
df['e.gender_full'].shape

(49653,)

In [21]:
#encoded_feature_names = list(df.select_dtypes(exclude=[object]).columns.values)

In [52]:
#df.select_dtypes(exclude=[object])

In [53]:
#df.dtypes

In [23]:
y = df["e.STATUS"]

In [24]:
type(y)

pandas.core.series.Series

In [41]:
X = df.select_dtypes(exclude=[object]).drop(["e.STATUS"], axis=1)

In [42]:
type(X)

pandas.core.frame.DataFrame

In [30]:
#x = X.iloc[0]

In [34]:
#type(x)

In [43]:
len(X.columns)

17

In [44]:
X.dtypes

EmployeeID               int64
age                      int64
length_of_service        int64
store_name               int64
STATUS_YEAR              int64
e.recorddate_key         int64
e.birthdate_key          int64
e.orighiredate_key       int64
e.terminationdate_key    int64
e.city_name              int64
e.department_name        int64
e.job_title              int64
e.gender_short           int64
e.gender_full            int64
e.termreason_desc        int64
e.termtype_desc          int64
e.BUSINESS_UNIT          int64
dtype: object

In [45]:
sel = VarianceThreshold(threshold=(0.8 * (1 - 0.8)))
X = sel.fit_transform(X)

In [47]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 4)

In [48]:
X_train.shape

(39722, 14)

In [49]:
X_test.shape

(9931, 14)

In [50]:
y_train.shape

(39722,)

In [51]:
y_test.shape

(9931,)

In [56]:
reg = linear_model.LogisticRegression()

In [57]:
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [59]:
y_pred = reg.predict(X_test)

In [60]:
print(metrics.accuracy_score(y_test,y_pred))

1.0

In [62]:
matrix = confusion_matrix(y_test,y_pred)
print(matrix)

[[9654    0]
 [   0  277]]