In [62]:
import sklearn

In [63]:
import pandas as pd
import numpy as np

In [64]:
from sklearn import preprocessing

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
from sklearn import linear_model

In [67]:
from sklearn import metrics

In [68]:
from sklearn.metrics import mean_squared_error

In [69]:
from sklearn.metrics import r2_score

In [70]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [71]:
from sklearn.feature_selection import VarianceThreshold

In [72]:
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [73]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [74]:
df.shape

(1470, 35)

In [75]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [76]:
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [77]:
le = preprocessing.LabelEncoder()

In [17]:
def encode_col(col_name):
    encodes = le.fit(df[col_name])
    new_col_name = "e."+col_name
    df[new_col_name] = df[col_name].map(lambda x: encodes.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [18]:
encode_col('Attrition')

In [19]:
encode_col('BusinessTravel')

In [20]:
encode_col('Department')

In [21]:
encode_col('EducationField')

In [22]:
encode_col('Gender')

In [23]:
encode_col('JobRole')

In [24]:
encode_col('MaritalStatus')

In [25]:
encode_col('Over18')

In [26]:
encode_col('OverTime')

In [27]:
pd.DataFrame(df['Attrition'].value_counts())

     Attrition
No        1233
Yes        237

In [28]:
encode_col = le.fit(df['JobRole'])
encode_col.classes_

array(['Healthcare Representative', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative'], dtype=object)

In [29]:
encode_col = le.fit(df['MaritalStatus'])
encode_col.classes_

array(['Divorced', 'Married', 'Single'], dtype=object)

In [30]:
encode_col = le.fit(df['Over18'])
encode_col.classes_

array(['Y'], dtype=object)

In [31]:
encode_col = le.fit(df['OverTime'])
encode_col.classes_

array(['No', 'Yes'], dtype=object)

# Split Dependent and independent variables

In [32]:
X = df[["Age","e.BusinessTravel","DailyRate","e.Department","DistanceFromHome","Education","e.EducationField",'EmployeeCount',"EmployeeNumber","EnvironmentSatisfaction","e.Gender","HourlyRate","JobInvolvement","JobLevel","e.JobRole","JobSatisfaction","e.MaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","e.Over18","e.OverTime","PercentSalaryHike","PerformanceRating","RelationshipSatisfaction","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager"]]

In [33]:
y = df["e.Attrition"]

In [34]:
type(X)

pandas.core.frame.DataFrame

In [35]:
X.shape

(1470, 34)

In [36]:
type(y)

pandas.core.series.Series

In [37]:
y.shape

(1470,)

sel = VarianceThreshold(threshold=(0.8 * (1 - 0.8)))
X = sel.fit_transform(X)

sel.variances_

type(X)

X.shape

X

# Split training and testing data

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 4)

In [39]:
X_train.shape

(1176, 34)

In [40]:
X_test.shape

(294, 34)

In [41]:
y_train.shape

(1176,)

In [42]:
y_test.shape

(294,)

In [43]:
reg = linear_model.LogisticRegression()

In [44]:
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [45]:
reg.intercept_

array([ 0.00065983])

In [46]:
reg.coef_

array([[ -4.42347501e-02,  -6.35507946e-03,  -3.29266966e-04,
          2.39638094e-01,   2.31139682e-02,   3.72674913e-02,
          4.34217587e-02,   6.59830979e-04,  -1.24900504e-04,
         -3.65987061e-01,   1.83053027e-01,  -9.20494865e-04,
         -4.13965425e-01,  -7.22084399e-02,   1.58260386e-02,
         -4.14383534e-01,   4.35087216e-01,  -6.58069026e-05,
          5.37747137e-06,   1.63993191e-01,   0.00000000e+00,
          1.11770110e+00,  -2.60134178e-02,   8.05495261e-02,
         -2.25857906e-01,   5.27864783e-02,  -1.91132078e-01,
         -3.84639542e-02,  -1.59824559e-01,  -2.76699466e-01,
          7.94095828e-02,  -1.16419570e-01,   1.05421607e-01,
         -1.13649848e-01]])

In [47]:
X_test.head()

,Age,e.BusinessTravel,DailyRate,e.Department,DistanceFromHome,Education,e.EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
325,31,1,798,1,7,2,1,1,442,3,...,1,80,1,10,2,3,10,9,8,9
1165,44,1,602,0,1,5,0,1,1642,1,...,3,80,0,14,3,3,10,7,0,2
1153,18,1,544,2,3,2,3,1,1624,2,...,3,80,0,0,2,4,0,0,0,0
1403,39,2,119,2,15,4,2,1,1975,2,...,1,80,0,21,3,3,20,8,11,10
1019,36,2,329,2,16,4,2,1,1436,3,...,1,80,2,11,3,2,3,2,0,2

In [48]:
y_test.head()

325     0
1165    0
1153    1
1403    0
1019    0
Name: e.Attrition, dtype: int64

In [49]:
reg.predict([[31,1,798,1,7,2,1,1,442,3,0,48,2,3,4,3,1,8943,14034,1,0,0,24,4,1,80,1,10,2,3,10,9,8,9]])

array([0], dtype=int64)

In [50]:
reg.predict([[18,1,544,2,3,2,3,1,1624,2,0,70,3,1,8,4,2,1569,18420,1,0,1,12,3,3,80,0,0,2,4,0,0,0,0]])

array([1], dtype=int64)

reg.predict([[52,2,258,1,8,4,4,1409,3,0,54,3,1,2,1,1,2950,17363,9,0,0,13,3,3,80,0,12,2,1,5,4,0,4]])

reg.predict([[33,2,465,1,2,2,1,328,1,0,39,3,1,2,1,1,2707,21509,7,0,0,20,4,1,80,0,13,3,4,9,7,1,7]])

In [51]:
y_pred = reg.predict(X_test)

In [52]:
type(y_pred)

numpy.ndarray

In [53]:
len(y_pred)

294

In [54]:
y_test_m = y_test.as_matrix()

In [55]:
type(y_test_m)

numpy.ndarray

# Analaysis

In [56]:
mean_squared_error(y_test,y_pred)

0.10204081632653061

In [57]:
r2_score(y_test,y_pred)

0.18280366904475109

In [58]:
print(metrics.accuracy_score(y_test,y_pred))

0.897959183673

In [59]:
matrix = confusion_matrix(y_test,y_pred)

In [60]:
print(matrix)

[[248   3]
 [ 27  16]]

In [61]:
report = classification_report(y_test,y_pred)
print(report)

             precision    recall  f1-score   support

          0       0.90      0.99      0.94       251
          1       0.84      0.37      0.52        43

avg / total       0.89      0.90      0.88       294